<!DOCTYPE html>
<link rel="stylesheet" href="style.css">
<head>
    <%- include("./partials/head") %>
</head>
<html>
    <h1>Main Page Wow</h1>
    <div>
        <input type="text">
        <button>Send</button>
    </div>
</html>