<!DOCTYPE html>
<link rel="stylesheet" href="style.css">
<head>
    <%- include("./partials/head") %>
</head>
<html>
    <h1>Main Page Wow</h1>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
      </form>
      <li id="messageBox">
        test
      </li>
</html>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="./js/main.js"></script>
