<!DOCTYPE html>
<head>
    <%- include("./partials/head") %>
</head>
<html>
    <div class="online" id="userList">
        test
    </div>
    <div id="messageBox" class="messageBox">
    </div>

    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
      </form>
</html>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="./js/main.js"></script>
