body {
    background-color: #1e1e1e;
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

h1{
    text-align: center;
    padding: 0.5rem;
    &.error-page{
        color: #ffb9e7;
        &:hover{
            color:pink;
        }
    }
    &:hover{
        color:#d4d4d4;
    }
}

h2 {
    text-align: center;
    &.error-page{
        color: #d4d4d4;
    }
}

.messageBox {
    display: grid;
    row-gap: 1rem;
    padding: 1rem;
}

.messageContainer {
    background-color: #444444;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    border-radius: 15px;
}

.username {
    display: inherit;
    font-size: 0.9rem;
    color: white;
}

.time {
    display: inherit;
    font-size: 0.7rem;
    color: grey;
}
.message {
    display: inherit;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.1rem;
}

.online {
    position: fixed;
    display: grid;
    top: 0;
    right: 0;
}

.password {
    position: fixed;
    display: grid;
    bottom: 0;
    right: 0;
}
.encryptionToggle {
    position: fixed;
    bottom:2rem;
    right: 0;
}